<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-dependency-check="none"
	default-autowire="no">
	<bean id="connectionManagerParams" class="org.apache.commons.httpclient.params.HttpConnectionManagerParams">  
        <property name="connectionTimeout" value="10000"/>  
        <property name="soTimeout" value="10000"/>  
        <property name="maxTotalConnections" value="30"/>  
        <property name="defaultMaxConnectionsPerHost" value="20"/>  
    </bean>    
       
    <bean id="connectionManager" class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager">  
        <property name="params" ref="connectionManagerParams"/>  
    </bean>  
       
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">  
        <constructor-arg>  
            <ref bean="connectionManager"/>  
        </constructor-arg>  
    </bean>
</beans>