<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>  
    <bean id="masterPayOrderDao"  class="bestv.tv.mgmt.dao.MasterPayOrderDao">
   		<property name="sessionFactory">
            <ref bean="masterSessionFactory"></ref>
        </property>    		 
    </bean>    
    <bean id="SlaveWebAppDao"  class="bestv.tv.mgmt.dao.SlaveWebAppDao">
   		<property name="sessionFactory">
            <ref bean="slaveSessionFactory"></ref>
        </property>    		 
    </bean> 
    
    <bean id="webAppService"  class="bestv.tv.mgmt.service.WebAppService">
    	<property name="webAppDao" ref="SlaveWebAppDao"></property>
    	<property name="payOrderService" ref="payOrderService"></property> 
    </bean>    
    
    <bean id="payOrderService"  class="bestv.tv.mgmt.service.PayOrderService">
    	<property name="preorderurl"><value>${proxypay.preorder}</value></property>
    	<property name="ordernotifyurl"><value>${proxypay.ordernotify}</value></property>
    	<property name="authurl"><value>${proxypay.auth}</value></property>
    	<property name="orderurl"><value>${proxypay.order}</value></property>
    	<property name="playurl"><value>${proxypay.playurl}</value></property>
    	<property name="httpClient"><ref bean="httpClient"></ref></property>
         <property name="slaveModuleDao">
			<ref bean="slaveModuleDao"></ref>
		</property>
         <property name="masterPayOrderDao">
			<ref bean="masterPayOrderDao"></ref>
		</property>		
    </bean>  
    
    <bean id="slaveModuleDao" class="bestv.tv.mgmt.dao.SlaveModuleDao">
		<property name="sessionFactory">
			<ref bean="slaveSessionFactory"></ref>
		</property> 
    </bean>
    
    <bean id="moduleService" class="bestv.tv.mgmt.service.ModuleService">		
		<property name="slaveModuleDao">
			<ref bean="slaveModuleDao"></ref>
		</property>
    </bean>
    
    
    <bean id="masterOrderDao" class="bestv.tv.mgmt.dao.MasterOrderDao">
		<property name="sessionFactory">
			<ref bean="masterSessionFactory"></ref>
		</property> 
    </bean>
    
    <bean id="modifyOrderService" class="bestv.tv.mgmt.service.ModifyOrderService">		
		<property name="masterOrderDao">
			<ref bean="masterOrderDao"></ref>
		</property>
		<property name="channelFactory">
			<ref bean="channelFactory"></ref>
		</property>	
		<property name="modifyOrderFlag">
			<value>${partner.modifyOrder.flag}</value>
		</property>			
    </bean>
    
    <bean id="serviceConfig" class="bestv.tv.mgmt.service.ServiceConfig"> 
        <property name="sysCode">
            <value>${sys.code}</value>
        </property>
         <property name="unsubscribeSwitch">
            <value>${partner.Unsubscribe.switch}</value>
        </property>      
    </bean>
    
    <bean id="queryOrderService" class="bestv.tv.mgmt.service.QueryOrderService">		
		<property name="masterOrderDao">
			<ref bean="masterOrderDao"></ref>
		</property>
		<property name="channelFactory">
			<ref bean="channelFactory"></ref>
		</property>		
    </bean>
    <bean id="queryProductService" class="bestv.tv.mgmt.service.QueryProductService">		
		<property name="slaveModuleDao">
			<ref bean="slaveModuleDao"></ref>
		</property>	
    </bean>
 	<bean id="channelFactory" class="com.bestv.wag.paychannel.ChannelFactory">
		<property name="payChannelConf"><value>${open_channel}</value></property>
		<property name="pageStyle"><value>${channel_page_style}</value></property>
	</bean>
    <bean id="payBase" class="com.bestv.wag.paychannel.PayBase">
		<property name="payOrderService" ref="payOrderService"></property>
		<property name="masterPayOrderDao" ref="masterPayOrderDao"></property>
	</bean> 
</beans>